# {{.Name}}

A brief description of what the project does.  
TODO: Project description  

## Installation

Instructions to install or build.  
TODO: Make the installation Guide  

## Usage

Examples of how to run the project.  
TODO: Make the examples  

## License

{{.License}} © {{.Year}} {{.Author}}  

## Contributions

Contributors are welcome, may it be forks or pull requests!  
